@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  max-width: 100%;
  transition: 0.75s;
}


:root {
  --green: #01c300;
  --black: #000000;
  --white: color-mix(in srgb, #fff, 85%);
  --gray: #545454;
  --pureWhite: #fff;
  --font-family: "source sans 3"
}

body {
  box-sizing: border-box;
  font-family: var(--font-family);
  font-optical-sizing: auto;
  max-width: 100%;
  min-width: 320px;
  width: 100%;
  background-color: var(--black);
}

header {
  position: fixed;
  background-color: var(--green);
  width: 100%;
  padding: 20px 20px;
}

nav.logo {
  display: flex;
  /* flex-wrap: wrap; */
}

nav.logo img {
  width: 8%;
  margin-top: -5px;
}

div.bdctAbr {
  font-family: var(--font-family);
  font-size: 40px;
  font-weight: 700;
  line-height: 20px;
  margin-top: 12px;
  padding-left: 10px;
  letter-spacing: 0.2em;
  text-align: center;
  color: var(--pureWhite);
}


.bdtcFull {
  font-family: var(--font-family);
  font-size: 12px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0.14em;
  text-align: left;
  margin-top: 15px;
  padding-left: 5px;
}

nav.logo ul {
  display: flex;
  padding-top: 20px;
  padding-left: 20px;
}

nav.logo li a {
  color: var(--pureWhite);
  font-weight: 700;
  font-family: var(--font-family);
  font-size: 20px;
  margin: 20px;
  letter-spacing: 0.165em;
  transition: 0.7s;
}

nav.logo li a:hover {
  color: var(--gray);
}

/* Book Now */
label.nav-link2 {
  display: none;
}

label.nav-link {
  padding: 15px 5px;
  margin-left: 200px;
  /* margin-bottom: 200PX; */
  background-color: var(--black);
  border-radius: 40px;
}

label.nav-link:hover {
  background-color: var(--pureWhite);
}

label.nav-link a {
  color: var(--pureWhite);
  margin: 20px 10px;
  /* text-align: center; */
  font-size: 17px;
  font-weight: 700;
  font-family: var(--font-family);
  letter-spacing: 0.167em;
}

label.nav-link a:hover {
  color: var(--gray);
}

#icon {
  color: var(--pureWhite);
  /* line-height: 80px; */
  cursor: pointer;
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--pureWhite);
}