@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  max-width: 100%;
  transition: 0.75s;
}


:root {
  --green: #01c300;
  --black: #000000;
  --white: color-mix(in srgb, #fff, 85%);
  --pureWhite: #fff;
  --font-family: "source sans 3"
}

body {
  box-sizing: border-box;
  font-family: var(--font-family);
  font-optical-sizing: auto;
  max-width: 100%;
  min-width: 320px;
  width: 100%;
  background-color: var(--black);
}

div.header {
  position: fixed;
  display: flex;
  background-color: var(--green);
  width: 100%;
  padding: 20px 20px;
}

div.logo {
  display: flex;
  /* justify-content: center; */
}

div.logo img {
  width: 100%;
  height: 10vh;
  margin-top: -5px;
}

div.bdtc .bdctAbr {
  font-family: var(--font-family);
  font-size: 40px;
  font-weight: 700;
  line-height: 20px;
  margin-top: 12px;
  padding-left: 10px;
  letter-spacing: 0.2em;
  text-align: center;
  color: var(--pureWhite);
}


div.bdtc .bdtcFull {
  font-family: var(--font-family);
  font-size: 12px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0.14em;
  text-align: left;
  margin-top: 15px;
  padding-left: 5px;
}

div.logo ul {
  display: flex;
  padding-top: 20px;
  padding-left: 20px;
}

div.logo li a {
  color: var(--pureWhite);
  font-weight: 700;
  font-family: var(--font-family);
  font-size: 20px;
  margin: 20px;
  letter-spacing: 0.165em;
  transition: 0.7s;
}

div.logo li a:hover {
  color: var(--black);
}

/* Book Now */
label {
  padding: 3px 25px;
  /* margin-left: 270px; */
  margin-top: 22px;
  background-color: var(--black);
  border-radius: 14px;
}

label.nav-link a {
  color: var(--pureWhite);
  margin: 20px 10px;
  text-align: center;
}

label.nav-link a:hover{
  color: var(--green);
}