@media screen and (max-width: 1326px) {
    /* div.logo img {
        margin-top: 5px;
    } */

    div.bdtc .bdctAbr {
        margin-top: 10px;
    }

    label.nav-link {
        /* margin-left: 1000px; */
        /* margin-top: -500px; */
    }
}

@media screen and (max-width: 1024px) {
    div.bdtc .bdctAbr {
        font-size: 35px;
        margin-top: 10px;
    }

    div.bdtc .bdtcFull{
        letter-spacing: 0.1em; 
    }

    div.logo ul{
        padding-left: 30px;
    }

    div.logo li a{
        margin: 12px;
    }

    label {
        margin-left: 100px;
    }
}

@media screen and (max-width: 909px){
div.link1{
    display: none;
}

    label.nav-link{
        display: none;
    }

    #icon{
        display: block;
    }

    #icon.active .bar:nth-child(2) {
        opacity: 0;
    }

    #icon.active .bar:nth-child(3) {
        transform: translate(8px) rotate(45deg);
    }

    #icon.active .bar:nth-child(1) {
        transform: translate(-8px) rotate(-45deg);
    }

    div.logo ul{
        display: block;
        padding-top: -50px;
        margin-top: 50px;
        width: 100%;
        height: 10vh;
        float: right;
        left: -1000;
        padding-top: 7%;
        margin-top: -6px;
        background-color: var(--black);
    }
}