@media screen and (max-width: 1326px) {
    /* div.logo img {
        margin-top: 5px;
    } */

    div.bdtc .bdctAbr {
        margin-top: 10px;
    }

    /* label.nav-link {
    } */
}

@media screen and (max-width: 1024px) {
    div.logo img {
        margin-top: 10px;
    }

    .bdctAbr {
        font-size: 35px;
        margin-top: 10px;
    }

    .bdtcFull {
        letter-spacing: 0.1em;
    }

    div.logo ul {
        padding-left: 30px;
    }

    div.logo li a {
        margin: 12px;
    }

    label.nav-link {
        margin-left: 60px;
    }
}

@media screen and (max-width: 909px) {
    div.link1 {
        display: none;
    }

    label.nav-link {
        display: none;
    }

    #icon {
        display: block;
    }

    #icon.active .bar:nth-child(2) {
        opacity: 0;
    }

    #icon.active .bar:nth-child(3) {
        transform: translate(8px) rotate(45deg);
    }

    #icon.active .bar:nth-child(1) {
        transform: translate(-8px) rotate(-45deg);
    }

    nav.logo ul {
        display: block;
        padding-top: 7%;
        margin-top: 90px;
        float: right;
        left: -1000px;
        position: fixed;
        width: 50%;
        height: 100vh;
        /* color: var(--black); */
        background-color: var(--pureWhite);
        transition: all .5s;
    }

    nav ul.show {
        left: 0px;
    }

    nav li {
        text-align: left;
        margin: 30px 0;
        line-height: 30px;
    }

    nav.logo li a {
        color: var(--black);
    }
}